<% content_for :css do %>
  <%= stylesheet_link_tag 'messages' %>
<% end %>

<div class="chat">
  <div class="contact bar">
    <% if @conversation.target_user(current_user).icon.url != nil %>
      <%= image_tag @conversation.target_user(current_user).icon.url, class:"target-user-icon" %>
    <% else %>
      <%= image_tag asset_path("/images/default.jpg", class:"target-user-icon") %>
    <% end %>
    <div class="name">
      <%=link_to @conversation.target_user(current_user).name, user_path(@conversation.target_user(current_user).id), class: "message_user_name" %>
    </div>
  </div>
  <div class="messages" id="chat">
    <% @messages.each do |message| %>
      <% if message.body.present? %>
        <% if message.user == current_user %>
          <div class="message parker">
        <% else %>
          <div class="message stark">
        <% end %>
            <%= safe_join(message.body.split("\n"),tag(:br)) %>
          </div>
        <% if message.user == current_user %>
          <div class="read" >
            <%= message.read ? '既読' : '未読' %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="bottom-bar">
    <%= form_with(model: [@conversation, @message]) do |f| %>
      <%= f.text_area :body, class: "form-control", placeholder:"Type your message here!", size: "20x1" %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <button class="fa fa-paper-plane-o fa-3x"><%= f.submit "", class:"submit" %></button>
    <% end %>
    </div>
</div>

<%= javascript_include_tag 'messages.js' %>
