<% content_for :css do %>
  <%= stylesheet_link_tag 'messages' %>
<% end %>


<div class="chat">
  <div class="contact bar">
    <% if @conversation.target_user(current_user).icon.url != nil %>
      <%= image_tag @conversation.target_user(current_user).icon.url, class:"target-user-icon" %>
    <% else %>
      <%= image_tag 'default.png', class:"target-user-icon" %>
    <% end %>
    <div class="name">
      <%= @conversation.target_user(current_user).name %>
    </div>
  </div>
  <div class="messages" id="chat">
    <% @messages.each do |message| %>
      <% if message.body.present? %>
        <% if message.user == current_user %>
          <div class="message parker">
        <% else %>
          <div class="message stark">
        <% end %>
            <%= safe_join(message.body.split("\n"),tag(:br)) %>
          </div>
        <% if message.user == current_user %>
          <div class="read" >
            <%= message.read ? '既読' : '未読' %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="input">
    <%= form_with(model: [@conversation, @message]) do |f| %>
      <%= f.text_area :body, class: "form-control" %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <%= f.submit "メッセージを送る" %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'messages.js' %>
