<% content_for :css do %>
  <%= stylesheet_link_tag 'registrations' %>
<% end %>


<div class="user-edit-container">
  <div class="event-form">
    <br>
    <h1 class="mb-3 forest-text text-center"><i class="fa fa-user fa-lg"></i></h1>
    <h1 class="h3 mb-4 font-weight-normal forest-text text-center">ユーザーを編集する</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :icon %><br/>
        <%= f.file_field :icon %>
      </div>
      <div class="form-group">
        <%= f.label :name %><br/>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="form-group">
        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="form-group">
        <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="form-group">
        <%= f.label :self_introduction %> <br />
        <%= f.text_area :self_introduction, autocomplete: "self_introduction", size:"50×5" %>
      </div>
      <div class="form-group submit submit-post">
        <%= f.submit t('.update'), class:"btn-light"%>
      </div>
    <% end %>
    <h3><%= t('.cancel_my_account') %></h3>
    <p> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>
  </div>
</div>

<div class="events-link">
  <%= link_to t('devise.shared.links.back'), :back, class:"event-index-link"%>
</div>
