<% content_for :css do %>
  <%= stylesheet_link_tag 'relationships' %>
<% end %>

<div id="chatbox">
  <div id="friendslist">
    <div id="topmenu">
      <span class="fa fa-user-plus fa-5x"></span>
      <strong class="message-list">フォロワー一覧</strong>
    </div>
    <div id="friends">
      <% if @users.size != 0 %>
        <% @users.each do |user| %>
          <div class="friend">
            <%=link_to user_path(user.id) do%>
              <p>
                <% if user.icon? %>
                  <img src=<%= user.icon%> class = "conversation-user-icon">
                <% else %>
                  <img src="<%= asset_path "default.jpg" %>" class="conversation-user-icon"%>
                <% end %>
                <strong><%= user.name %></strong>
              </p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="no-follow">フォロワーはまだいません。</p>
      <% end %>
    </div>
  </div>
</div>
