<% if @user.icon? %>
  <img src=<%= @user.icon%> class = "profile_icon_image">
<% else %>
  <img src="/assets/default.png" class="profile_icon_image"%>
<% end %>
<p class="profile_user_name"><%= @user.name %></p>
<p>プロフィール : <%= @user.self_introduction %></p>

<%= link_to 'いいね一覧', goods_path %>
<%= link_to 'ユーザー一覧', users_path %>
<% if @user.id == current_user.id %>
  <%= link_to '編集', edit_user_registration_path %>
  <%= link_to '参加イベント一覧', event_participations_path(current_user) %>
<% else %>
  <%= render 'follow_form', user: @user %>
  <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post %>
<% end %>
