<% content_for :css do %>
  <%= stylesheet_link_tag 'events' %>
<% end %>

<div class="event-page jumbotron">
  <div class="fluid-container">
    <h1>イベント</h1>
    <p class="para">where are you going ?</p>
    <hr>
    <div class="social center-block">
      <ul>
        <div class="event-link">
          <li><%= link_to '新しく作成する', new_event_path, class:"event-btn event-btn2" %></li>
        </div>
        <div class="event-link">
          <li><%= link_to '参加イベント一覧', event_participations_path(current_user), class:"event-btn event-btn2" %></li>
        </div>
      </ul>
    </div>
  </div>
  <div class="events-search">
    <div class="event-wrap">
      <div class="event-search">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :title_cont, placeholder:"イベントを調べる", class:"event-search-term" %><br>
          <%= f.select :category_name_cont, Category.order(:name).map{|m| [m.name]}, {include_blank: true}, class:"event-category-term" %><br>
          <%= f.submit "検索", class:"event-search-button" %>
        <% end %>
      </div>
    </div>
　</div>
</div>

<p class="event-index-text">新規イベント</p>

<% @events.each do |event| %>
  <div class="event-card">
    <div class="meta">
      <%= image_tag event.image.url ,class:"photo"%>
      <ul class="details">
        <li class="author">主催者:<%=link_to event.owner.name, user_path(event.owner.id) %></td></li>
        <li class="events-date">作成日:<%= l event.created_at , format: :short %></li>
      </ul>
    </div>
    <div class="description">
      <h1 class="event-title"><%= event.title %></h1>
      開催日:<%= l event.schedule , format: :long %>
      <h2>カテゴリー:<%= event.category.name %></h2>
      <p><%= event.content.truncate(200) %></p>
      <p class="read-more">
        <%= link_to '詳細', event_path(event.id) %>
      </p>
    </div>
  </div>

<% end %>
