<% content_for :css do %>
  <%= stylesheet_link_tag 'events' %>
<% end %>


<div class="event-link">
  <%= link_to '新しく作成する', new_event_path, class:"event-btn event-btn2" %>
  <%= link_to '参加イベント一覧', event_participations_path(current_user), class:"event-btn event-btn2" %>
</div>

<div class="event-search">
  <div class="wrap">
  <div class="search">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_cont, placeholder:"Search", class:"search-term" %>
      <%= f.select :category_name_cont, Category.order(:name).map{|m| [m.name]}, {include_blank: true}, class:"category-term" %>
        <%= f.submit "検索", class:"search-button" %>
    <% end %>
    </div>
  </div>
</div>

<% @events.each do |event| %>
  <div class="blog-card">
    <div class="meta">
      <%= image_tag event.image.url ,class:"photo"%>
      <ul class="details">
        <li class="author">主催者:<%=link_to event.owner.name, user_path(event.owner.id) %></td></li>
        <li class="date">作成日:<%= l event.created_at , format: :short %></li>
      </ul>
    </div>
    <div class="description">
      <h1 class="event-title"><%= event.title %></h1>
      開催日:<%= l event.schedule , format: :long %>
      <h2>カテゴリー:<%= event.category.name %></h2>
      <p><%= event.content %></p>
      <p class="read-more">
        <%= link_to '詳細', event_path(event.id) %>
      </p>
    </div>
  </div>

<% end %>
