<% content_for :css do %>
  <%= stylesheet_link_tag 'events' %>
<% end %>

  <table class="event_frame">
    <tr>
      <%= image_tag @event.image.url %>
    </tr>
    <tr>
      <th>イベント名:</th>
      <td><%= @event.title %></td>
    </tr>
    <tr>
      <th>カテゴリー:</th>
      <td><%= @event.category.name %></td>
    </tr>
    <tr>
      <th>詳細:</th>
      <td><%= @event.content %></td>
    </tr>
    <tr>
      <th>主催者:</th>
      <td><%= @event.owner.name %></td>
    </tr>
    <tr>
      <th>日時:</th>
      <td><%= l @event.schedule , format: :long %></td>
    </tr>
    <tr>
      <th>参加人数:</th>
      <td><%= @event.participations.count %>人</td>
    </tr>
    <tr>
    <% if @event.owner.id == current_user.id %>
      <td><%= link_to "編集する", edit_event_path(@event.id) %>,</td>
      <td><%= link_to '削除する', event_path(@event.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    <% else %>
      <% if @participation.present? %>
        <td><%= link_to '参加をやめる', event_participation_path(@event, @participation), method: :delete,  data: { confirm: 'このイベントの参加を取り消しますか?'} %></td>
      <% else %>
        <td><%= link_to '参加する', event_participations_path(@event.id), method: :post, data: { confirm: 'このイベントに参加しますか?'} %></td>
      <% end %>
    <% end %>
    <tr>
      <td><%= link_to "イベント一覧へ", events_path %></td>
    </tr>

  </table>
