<% content_for :css do %>
  <%= stylesheet_link_tag 'events' %>
<% end %>

<div class="event-show-layout">
  <div class="event-show-header">
    <h1 class="event-show-title"><%= @event.title %></h1>
    <span class="event-show-date">開催日:<%= l @event.schedule , format: :long %></span>
  </div>
  <main class="event-show-content">
    <div class="divider divider--down"></div>
    <div class="events-show">
      <article>
        <%= image_tag @event.image.url, class:"event__image" %>
        <h2 class="event__title"><主催者></h2>
        <p class="event__content"><%= @event.owner.name %></p>
        <h2 class="event__title"><カテゴリー></h2>
        <p class="event__content" ><%= @event.category.name %></p>
        <h2 class="event__title"><内容></h2>
        <p class="event__content" ><%= safe_join(@event.content.split("\n"),tag(:br)) %></p>
      </article>
    </div>
    <div class="divider divider--up">
      <% if @event.owner.id == current_user.id %>
        <%= link_to "編集する", edit_event_path(@event.id) ,class:"btn-gradient-3d-orange"%>
        <%= link_to '削除する', event_path(@event.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } ,class:"btn-gradient-3d-orange"%>
      <% else %>
        <% if @participation.present? %>
          <%= link_to '参加をやめる', event_participation_path(@event, @participation), method: :delete,  data: { confirm: 'このイベントの参加を取り消しますか?'} ,class:"btn-gradient-3d-orange"%>
        <% else %>
          <%= link_to '参加する', event_participations_path(@event.id), method: :post, data: { confirm: 'このイベントに参加しますか?'},class:"btn-gradient-3d-orange" %>
        <% end %>
      <% end %>
      <% unless @event_room[0] == nil %>
        <% if (@users.include?(current_user.id) || @event.owner_id == current_user.id) && @event_room[0].event.id == @event.id %>
          <%= link_to 'トークルームへ', event_room_event_messages_path(@event_room[0]), class:"btn-gradient-3d-orange" %>
        <% end %>
      <% end %>
  </main>
  <div class="event-show-footer">
    <% event_user_count = @event.participations.count %>
    <p>現在の参加予定人数:<%= event_user_count += 1 %>人</p>
  </div>
  <div class="participation-users">
    <p class="participation-users-list">参加者一覧</p>
    <div class="participation-users-index">
      <div class="participation-users-block">
        <% if @event.owner.icon? %>
          <img src= "<%= @event.owner.icon %>" class="participation-users-icon" >
        <% else %>
          <img src="<%= asset_path "default.jpg" %>" class="participation-users-icon">
        <% end %>
        <p><%=link_to @event.owner.name.truncate(10), user_path(@event.owner.id), class: "participation-user-name" %></p>
        <h5><主催者></h5>
      </div>
      <% @participation_users.each do |participation_users| %>
        <div class="participation-users-block">
          <% if participation_users.user.icon? %>
            <img src= "<%= participation_users.user.icon %>" class="participation-users-icon" >
          <% else %>
            <img src="<%= asset_path "default.jpg" %>" class="participation-users-icon">
          <% end %>
          <p><%=link_to participation_users.user.name.truncate(10), user_path(participation_users.user.id), class: "participation-user-name" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <div class="events-link">
    <%= link_to "イベント一覧へ", events_path, class:"event-index-link" %>
  </div>
