<% content_for :css do %>
    <%= stylesheet_link_tag 'introductions' %>
  <% end %>

<div class="introductions">
  <div id="intro-icon">
    <img src="<%= asset_path "introduction.png" %>" class="intro-icon"%>
  </div>

  <h3>SDGsとは</h3>
  <p>SDGsとは「Sustainable Development Goals（持続可能な開発目標）」の略称です。<br>発音はSDGs（エス・ディー・ジーズ）になります。<br>
    SDGsは2015年9月の国連サミットで採択されたもので、国連加盟193か国が2016年から2030年の15年間で達成するために掲げた目標です。
  </p>

  <ul>
    <li><a href="#foodloss">食品ロスを減らす</a></li>
    <li><a href="#plasticscup">プラスチックストローやカップの利用を避ける</a></li>
    <li><a href="#paper">紙の無駄遣いをしない</a></li>
    <li><a href="#onlinepay">オンライン決済サービスを利用する</a></li>
    <li><a href="#shower">節水をする</a></li>
  </ul>

  <h3 id="foodloss">1.食品ロスを減らす</h3>
  <div id="list-icon">
    <img src="<%= asset_path "foodloss.jpeg" %>" class="list-icon"%>
  </div>
  <p>
    食品ロスとは、本来食べられるのに捨てられてしまう食品のことです。特に先進国では多くの食品ロスが発生しています。<br>
    原材料の生産にも調理にもエネルギーを使って食べられる状態になったにもかかわらず捨てられてしまう食材は、廃棄にも費用がかかるので、二重三重に資源の無駄遣いが生じてしまいます。<br>
    食材を使い切り、食べ切る。無駄なく必要な分だけ食べ物を買う。期限の近いものから購入するなど食品ロス削減のために、私たちができることは数多くあります。
  </p>

  <h3 id="plasticscup">2.プラスチックストローやカップの利用を避ける</h3>
  <div id="list-icon">
    <img src="<%= asset_path "plasticscup.jpeg" %>" class="list-icon"%>
  </div>
  <p>
    2019年ごろから、プラスチックストローやカップの提供を止める飲食店が増えてきました。<br>これもSDGs、環境への取り組みを企業が進めていったことで起こった変化です。そのきっかけの1つとされているのが、プラスチックゴミによる海洋汚染です。<br>
    プラスチックカップを使う代わりにタンブラーを持ち歩いているなどの行動をしている人も増えてきています。(制作者も大学時代、タンブラーに白茶を入れて持ち歩いていました)<br>
    ストロー対策は身近に存在する問題だからこそ、プラスティックストローは使わない。マイストローを持参するなど、少しでも問題に意識を向けることで、海洋汚染問題に大きく貢献できます。<br>
  </p>


  <h3 id="paper">3.紙の無駄遣いをしない</h3>
  <div id="list-icon">
    <img src="<%= asset_path "paper.jpg" %>" class="list-icon"%>
  </div>
  <p>
    毎日使うティッシュやトイレットペーパー。学校や仕事で使うノートやコピー用紙など私たちの暮らしに欠かせない紙製品。<br>
    近年では、プラスチックの使用削減に伴い、代替品として紙製品が多く使われていますが、だからといって紙の使用が環境になんの影響もないというわけではありません。<br>
    印刷は必要な分だけする。資料を電子化するなどを考えるようにするだけでも紙の無駄遣いを減らすことにつながります。
  </p>

  <h3 id="onlinepay">4.オンライン決済サービスを利用する</h3>
  <div id="list-icon">
    <img src="<%= asset_path "onlinepay.jpeg" %>" class="list-icon"%>
  </div>
  <p>
    支払いを請求書で行うと紙を消費することになります。オンラインやモバイルなら、自宅にいながら支払いも実行できます。<br>
    また、都市生活のコストはかさむ一方。けれどただ倹約するだけでなく、しっかり自分のお金と向き合い、どうやって“心豊か”に使うかは、人生の幸福度を大きく左右するトピックなのです。<br>
    自分のために、世界のために、よりよいお金の使い方を考えることも大事なのです。
  </p>

  <h3 id="shower">5.節水をする</h3>
  <div id="list-icon">
    <img src="<%= asset_path "shower.jpeg" %>" class="list-icon"%>
  </div>
  <p>
    節水の基本はこまめに止めること、流しっぱなしをやめることです。<br>水を１分間流しっぱなしにすると、およそ12リットルの水が流れます。<br>
    歯磨きをするときに水を出しっぱなしにすると、30秒で約６リットル流れますが、コップを使えば約0.6リットルで済み、約5リットルの節水になります。<br>
    そして、一番多く水が使われている「風呂」は、残り湯を洗濯や掃除、ベランダなどへの打ち水として活用しましょう。<br>
    夏は入浴ではなくシャワーの方もいると思います。シャワー使用時は、シャワーで体を温めながら浴びると、水道のムダですので、こまめに止めましょう。<br>
  </p>
</div>