<% content_for :css do %>
  <%= stylesheet_link_tag 'log_in' %>
<% end %>

<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo"><img id="b" class="img-responsive img-circle img-rounded img-center pull-left" src="<%= asset_path "mysdgs_logo.png" %>"></span>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
      <div class="container-fluid">
        <div class="row">
          <h1>ログイン</h1>
        </div>
        <div class="row">
          <%= form_for(resource, as: resource_name, class:"form-group", url: session_path(resource_name)) do |f| %>
            <div class="row">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"username", class:"form__input",placeholder:"Email" %>
            </div>
            <div class="row">
              <!-- <span class="fa fa-lock"></span> -->
              <%= f.password_field :password, autocomplete: "current-password", id:"password", class:"form__input", placeholder:"Password" %>
              <span>
              <i class="fa fa-eye fa-2x" aria-hidden="true"  type="button" id="eye"></i>
              </span>
            </div>
            <div class="row remember">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              <% end %>
            </div>
            <div class="row">
              <%= f.submit t('.sign_in') ,class:"botton submit"%>
            </div>
          <% end %>
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post ,class:"botton submit"%>
        </div>
      </div>
    </div>
  </div>
</div>


<%= javascript_include_tag 'log_in.js' %>
