<h2>お気に入りしたページ一覧</h2>

    <% if @goods.size != 0 %>
      <% @goods.each do |good| %>
        <% good.post.pictures.each_with_index do |picture| %>
          <% if picture[:image] != nil %>
            <%= image_tag picture.image.url, size: "200x300" %>
          <% else %>
            <%= image_tag 'default.png' %>
          <% end %>
        <% end %>
      <% end %>
      <%= good.post.content %>
      <%= link_to '詳細', post_path(good.post.id) %>
    <% else %>
      <p>いいねした投稿はありません。</p>
    <% end %>

    <%= link_to 投稿一覧へ, posts_path %>
