<% content_for :css do %>
  <%= stylesheet_link_tag 'goods' %>
<% end %>


<p class="goods-index">お気に入りした投稿一覧</p>
<div class="row">
  <% if @goods.size != 0 %>
    <% @goods.each do |good| %>
      <%= link_to post_path(good.post.id) do%>
        <div class="good-gallery-item d-flex justify-content-center ">
          <% good.post.pictures.each do |picture| %>
            <%= image_tag picture.image.url, class:"good-gallery-image"%>
            <div class="good-gallery-item-info">
              <ul>
                <li class="good-gallery-item-likes">
                  <span class="visually-hidden"></span>
                  <i class="fa fa-heart" aria-hidden="true"></i><%= good.post.goods.count %>
                </li>
                <li class="good-gallery-item-comments">
                  <span class="visually-hidden"></span>
                  <i class="fa fa-comment" aria-hidden="true"></i>
                  <%= good.post.comments.count %>
                </li>
              </ul>
            </div>
            <% break %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>お気に入りした投稿はありません</p>
  <% end %>
</div>
