<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
    <%= form.fields_for :pictures, @post.pictures.build do | picture | %>
      <%= picture.file_field :image ,multiple: true%>
      <%= picture.hidden_field :image_cache %>
    <% end %>
  <%= form.submit %>
<% end %>

<%= link_to '一覧に戻る', posts_path %>
