<% content_for :css do %>
  <%= stylesheet_link_tag 'posts' %>
<% end %>


<%= form_with(model: @post, local: true) do |form| %>
  <div class="post-form">
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= @post.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="post_contents">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <%= form.label :category, 'カテゴリ' %>
      <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
        <%= category.label do %>
          <%= category.check_box %>
          <%= category.text %>
        <% end %>
      <% end %>
    <% @post.pictures.each_with_index do |picture| %>
      <% if picture[:image] != nil %>
        <%= image_tag picture.image.url, size: "200x300" %>
      <% else %>
        <%= image_tag 'default.png' %>
      <% end %>
    <% end %>
    <div class="field">
      <%= form.fields_for :pictures do |a| %>
        <%= a.label :image %><br>
        <%= a.file_field :image %>
        <%= a.hidden_field :image_cache %>
        <p><%= a.check_box :remove_image %>画像を削除する</p>
      <% end %>
    </div>

    <%= form.submit %>

    <%= link_to '一覧に戻る', posts_path %>
  </div>

<% end %>
