<% content_for :css do %>
  <%= stylesheet_link_tag 'posts' %>
<% end %>

<div class="ranking">
  <div class="ranking-month">
    <h1>Ranking</h1>
    <% x = 0 %>
    <% y = 1 %>
    <% z = 1 %>
    <% @categories_month.each do |category| %>
      <span>第<%= y %>位</span>
      <span><%= category[x] %></span>
      <span><%= category[z] %></span><br>
      <% y += 1 %>
    <% end %>
  </div>
  <div class="ranking-year">
    <h1>Ranking</h1>
    <% x = 0 %>
    <% y = 1 %>
    <% z = 1 %>
    <% @categories_year.each do |categorys| %>
      <span>第<%= y %>位</span>
      <span><%= categorys[x] %></span>
      <span><%= categorys[z] %></span><br>
      <% y += 1 %>
    <% end %>
  </div>
</div>

<div class="sidebar">
  <%=link_to user_path(current_user.id) do %>
    <div class="login-user-link-sidebar">
      <% if current_user.icon? %>
        <img src=<%= current_user.icon %> class = "login-user--icon-sidebar">
      <% else %>
        <img src="<%= asset_path "default.jpg" %>" class="login-user--icon-sidebar"%>
      <% end %>
      <span><%= current_user.name.truncate(25) %></span>
    </div>
  <% end %>
  <div class="option-link-sidebar">
    <%=link_to user_path(current_user.id) do %>
      <div class="option-link-item">
        <i class="fa fa-diamond fa-2x"></i>
        <p>マイページ</p>
      </div>
    <% end %>
    <%=link_to followed_relationship_path(current_user.id) do %>
      <div class="option-link-item">
        <i class="fa fa-user-plus fa-2x"></i>
        <p>フォロー</p>
      </div>
    <% end %>
    <%=link_to follower_relationship_path(current_user.id) do %>
      <div class="option-link-item">
        <i class="fa fa-user-plus fa-2x"></i>
        <p>フォロワー</p>
      </div>
    <% end %>
    <%=link_to conversations_path do %>
      <div class="option-link-item">
        <i class="fa fa-comments-o fa-2x"></i>
        <p>メッセージ</p>
      </div>
    <% end %>
  </div>
  <div class="posts-search">
    <div class="posts-wrap">
      <div class="post-search-2">
        <div class="option-item">
          <i class="fa fa-search fa-3x" aria-hidden="true"></i>
          <p>投稿を検索する</p>
        </div>
        <%= search_form_for @q do |f| %>
          <div class="input-group">
            <%= f.search_field :content_cont, placeholder:"キーワード検索", id:"txt-search", class:"form-control input-group-prepend" %>
            <span class="input-group-btn input-group-append">
              <%= f.submit "検索",id:"btn-search" ,class:"btn btn-primary" %><i class="fa fa-search"></i>
            </span>
          </div>
          <div class="select-search">
            <%= f.select :category_post_category_name_cont, Category.order(:name).map{|m| [m.name]}, {include_blank: true}, class:"submit-post-search"%>
          </div>
          <div>
            <%= link_to "元に戻す", posts_path, class:"btn btn-primary undo" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to new_post_path do%>
  <div class="header-one">
    <svg id="logo" viewBox="25 25 150 150">
      <polyline points="90,92 65,90 125,65 110,105 90,92"></polyline>
      <polyline points="125,65 90,92 90,105 98,98"></polyline>
      <polyline class="shadow" points="70,130 118,110 97,142"></polyline>
      <text x="45" y="173">投稿する</text>
    </svg>
  </div>
<% end %>

<div class="main-posts-index">
  <h1 class="posts-index">投稿一覧</h1>
</div>
<section class="post-index-container">
  <% @posts.each do |post| %>
    <div class="cards">
      <div class="card card--light">
        <div class="posts-user-icon">
          <% if post.user.icon? %>
            <img src=<%= post.user.icon%> class = "post-icon-image">
          <% else %>
            <img src="<%= asset_path "default.jpg" %>" class="post-icon-image"%>
          <% end %>
          <span><%=link_to post.user.name, user_path(post.user.id), class: "post_user_name" %></span>
        </div>
        <div class="card__slide">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% post.pictures.each do |picture| %>
                <% if picture != nil %>
                    <%= image_tag picture.image.url,class:"swiper-slide" %>
                <% end %>
              <% end %>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <div class="card__body">
          <div class="card__description">
            <div id="goods_buttons_<%= post.id %>">
              <%= render 'goods/good', post: post %>
            </div>
            <p class="post-content"><%= safe_join(post.content.truncate(200).split("\n"),tag(:br)) %></p>
            <p class="post-read-more"><%= link_to '詳細', post_path(post.id) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

<%= javascript_include_tag 'posts.js' %>
