<% content_for :css do %>
  <%= stylesheet_link_tag 'posts' %>
<% end %>

<div class="site-inner">
  <section class="container-fluid">
    <div class="row">
        <ul class="accordion-group" id="accordion">
          <li id="post-index-1">
            <div class="accordion-overlay"></div>
            <h3>Post</h3>
            <section class="hidden-xs">
              <article>
                <p>投稿機能<br>
                写真を最大５枚まで選択可能で、カテゴリー・内容を埋めて投稿しましょう！
                いいねをしたり、投稿に対してコメントを送ったりできます。
                </p>
              </article>
            </section>
          </li>
          <li id="post-index-2">
            <div class="accordion-overlay"></div>
            <h3>Message</h3>
            <section class="hidden-xs">
              <article>
                <p>メッセージ機能<br>
                ユーザー同士1対1でメッセージをすることができます！
                あいさつしたり情報を共有したり用途は様々です。
                </p>
              </article>
            </section>
          </li>
          <li id="post-index-3">
            <div class="accordion-overlay"></div>
            <h3>Event</h3>
            <section class="hidden-xs">
              <article>
                <p>イベント機能<br>
                SDGsのイベントを主催したり、参加することができます！
                交流を通して、仲間を見つけましょう。
                </p>
              </article>
            </section>
          </li>
          <li id="post-index-4">
            <div class="accordion-overlay"></div>
            <h3>Search</h3>
            <section class="hidden-xs">
              <div class="post-search">
                <div class="wrap">
                  <div class="search">
                    <%= search_form_for @q do |f| %>
                      <%= f.search_field :content_cont, placeholder:"Search", class:"post-search-term" %>
                      <%= f.select :category_post_category_name_cont, Category.order(:name).map{|m| [m.name]}, {include_blank: true}, class:"post-category-term"%>
                      <%= f.submit "検索", class:"post-search-button" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <article>
                <p>投稿検索機能<br>
                投稿をキーワードやカテゴリーを絞って検索することができます！
                興味のあるテーマを調べてみましょう。
                </p>
              </article>
            </section>
          </li>
        </ul>
    </div>
  </section>
</div>

<%= link_to new_post_path do%>
  <div class="header-one">
    <svg id="logo" viewBox="25 25 150 150">
      <polyline points="90,92 65,90 125,65 110,105 90,92"></polyline>
      <polyline points="125,65 90,92 90,105 98,98"></polyline>
      <polyline class="shadow" points="70,130 118,110 97,142"></polyline>
      <text x="45" y="173">投稿する</text>
    </svg>
  </div>
<% end %>
<div class="posts-search">
  <div class="posts-wrap">
    <div class="post-search-2">
      <%= search_form_for @q do |f| %>
        <%= f.search_field :content_cont, placeholder:"投稿を検索する", class:"post-search-term-2" %>
        <%= f.select :category_post_category_name_cont, Category.order(:name).map{|m| [m.name]}, {include_blank: true}, class:"post-category-term-2"%>
        <%= f.submit "検索", class:"post-search-button-2" %>
      <% end %>
    </div>
  </div>
</div>
<div class="main-posts-index">
  <h1 class="posts-index">投稿一覧</h1>
</div>
<section class="post-index-container">
  <% @posts.each do |post| %>
    <div class="cards">
      <div class="card card--light">
        <div class="posts-user-icon">
          <% if post.user.icon? %>
            <img src=<%= post.user.icon%> class = "post-icon-image">
          <% else %>
            <img src="<%= asset_path "default.jpg" %>" class="post-icon-image"%>
          <% end %>
          <span><%=link_to post.user.name, user_path(post.user.id), class: "post_user_name" %></span>
        </div>
        <div class="card__slide">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% post.pictures.each do |picture| %>
                <% if picture != nil %>
                    <%= image_tag picture.image.url,class:"swiper-slide" %>
                <% end %>
              <% end %>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <div class="card__body">
          <div class="card__description">
            <div id="goods_buttons_<%= post.id %>">
              <%= render 'goods/good', post: post %>
            </div>
            <p class="post-content"><%= safe_join(post.content.truncate(200).split("\n"),tag(:br)) %></p>
            <p class="post-read-more"><%= link_to '詳細', post_path(post.id) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

<%= javascript_include_tag 'posts.js' %>
