<% content_for :css do %>
  <%= stylesheet_link_tag 'posts' %>
<% end %>

<%= link_to new_post_path do%>
  <div class="header-one">
    <svg id="logo" viewBox="25 25 150 150">
      <polyline points="90,92 65,90 125,65 110,105 90,92"></polyline>
      <polyline points="125,65 90,92 90,105 98,98"></polyline>
      <polyline class="shadow" points="70,130 118,110 97,142"></polyline>
      <text x="45" y="173">投稿する</text>
    </svg>
  </div>
<% end %>

<section class="post-index-container">
  <% @posts.each do |post| %>
    <div class="cards">
      <div class="card card--light">
        <div class="posts-user-icon">
          <% if post.user.icon? %>
            <img src=<%= post.user.icon%> class = "post-icon-image">
          <% else %>
            <img src="<%= asset_path "default.jpg" %>" class="post-icon-image"%>
          <% end %>
          <span><%=link_to post.user.name, user_path(post.user.id), class: "post_user_name" %></span>
        </div>
        <div class="card__slide">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% post.pictures.each do |picture| %>
                <% if picture != nil %>
                    <%= image_tag picture.image.url,class:"swiper-slide" %>
                <% end %>
              <% end %>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <div class="card__body">
          <div class="card__description">
            <div id="goods_buttons_<%= post.id %>">
              <%= render 'goods/good', post: post %>
            </div>
            <p class="post-content"><%= safe_join(post.content.truncate(200).split("\n"),tag(:br)) %></p>
            <p class="post-read-more"><%= link_to '詳細', post_path(post.id) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

<%= javascript_include_tag 'posts.js' %>
