<% content_for :css do %>
  <%= stylesheet_link_tag 'posts' %>
<% end %>

  <div class="post-search">
    <div class="wrap">
      <div class="search">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :content_cont, placeholder:"Search", class:"post-search-term" %>
          <%= f.select :category_post_category_name_cont, Category.order(:name).map{|m| [m.name]}, {include_blank: true}, class:"post-category-term"%>
          <%= f.submit "検索", class:"post-search-button" %>
        <% end %>
      </div>
    </div>
  </div>

  <section class="post-index-container">
    <% @posts.each do |post| %>
      <div class="cards">
        <div class="card card--light">
          <div class="card__slide">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <% post.pictures.each do |picture| %>
                  <% if picture[:image] != nil %>
                    <% if post.pictures.length < 2 %>
                      <%= image_tag picture.image.url %>
                    <% else %>
                      <%= image_tag picture.image.url,class:"swiper-slide" %>
                    <% end %>
                  <% else %>
                    <img src="/assets/default_post.png", size:"200×200" %>
                    <% break %>
                  <% end %>
                <% end %>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
          <div class="card__body">
            <div class="card__description">
              <% if post.user.icon? %>
                <img src=<%= post.user.icon%> class = "icon_image">
              <% else %>
                <img src="/assets/default.jpg" class="icon_image"%>
              <% end %>
                <%=link_to post.user.name, user_path(post.user.id), class: "post_user_name" %>
              <% unless post.user_id == current_user.id %>
                <% if current_user.already_liked?(post) %>
                <div class="heart" >
                  <%= link_to '', good_path(id: current_user.goods.find_by(post_id: post.id)), method: :delete,class:"fa fa-heart fa-2x",id:"post-index-good" %></div>
                <% else %>
                <div class="heart" >
                  <%= link_to "" ,goods_path(id: post.id, post_id: post.id), method: :post,class:"fa fa-heart-o fa-2x",id:"post-index-ungood" %></div>
                <% end %>
              <% end %>
              <p class="post-content"><%= post.content %></p>
              <p class="post-read-more"><%= link_to '詳細', post_path(post.id) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>


  <div class="new-post-link">
    <%= link_to '新しく投稿する', new_post_path, class:"new-post" %>
  </div>

<%= javascript_include_tag 'posts.js' %>
