<h1>ブログ一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @posts.each do |post| %>
  <tr>
  <% post.pictures.each_with_index do |picture| %>
    <% if picture[:image] != nil %>
      <%= image_tag picture.image.url, size: "200x300" %>
    <% else %>
      <%= image_tag 'default.png' %>
    <% end %>
  <% end %>
    <td><%= post.content %></td>
    <td><%= link_to '詳細', post_path(post.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しく投稿する', new_post_path %>
