<h1>投稿詳細画面</h1>
<table>
  <tr>
    <td><%=link_to @post.user.name, user_path(@post.user.id) %></td>
  </tr>
  <tr>
  <td>
  <div class="swiper-container">
    <div class= "swiper-wrapper img-index">
      <% @post.pictures.each do |picture| %>
        <% if picture[:image] != nil %>
          <%= image_tag picture.image.url,  size: "200x300", class: "swiper-slide index-img" %>
        <% else %>
          <%= image_tag 'default.png' %>
        <% end %>
      <% end %>
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-pagination"></div>
  </div>
  </td>
  </tr>
  <tr>
    <td>いいね数:<%= @post.goods.count %></td>
  </tr>
  <tr>
    <td><%= @post.content %></td>
  </tr>
</table>

<% unless @post.user_id == current_user.id %>
  <% if @good.present? %>
    <%= link_to 'いいねを解除する', good_path(id: @good.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'いいねする', goods_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<td><%= link_to "編集する", edit_post_path(@post.id) %></td>
<%= link_to '削除する', post_path(@post.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
