<% content_for :css do %>
  <%= stylesheet_link_tag 'posts' %>
<% end %>

<section class="post-show-container">
    <div class="cards">
      <div class="card card--light">
        <div class="card__slide">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% @post.pictures.each do |picture| %>
                <% if picture[:image] != nil %>
                  <% if @post.pictures.length < 2 %>
                    <%= image_tag picture.image.url %>
                  <% else %>
                    <%= image_tag picture.image.url,class:"swiper-slide" %>
                  <% end %>
                <% else %>
                  <img src="/assets/default_post.png", size:"200×200" %>
                  <% break %>
                <% end %>
              <% end %>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <div class="card__body">
          <div class="card__description">
            <% if @post.user.icon? %>
              <img src=<%= @post.user.icon%> class = "icon_image">
            <% else %>
              <img src="/assets/default.jpg" class="icon_image"%>
            <% end %>
              <%=link_to @post.user.name, user_path(@post.user.id), class: "post_user_name" %>
              <% @post.categories.each do |category| %>
                <p>#<%= category.name %></p>
              <% end %>
            <% unless @post.user_id == current_user.id %>
              <div class="post-show-good" >
                <% if @good.present? %>
                  <%= link_to '', good_path(id: @good.id), method: :delete, class:"fa fa-heart fa-2x",id:"post-index-good" %>
                <% else %>
                  <%= link_to '', goods_path(post_id: @post.id), method: :post, class:"fa fa-heart-o fa-2x",id:"post-index-ungood" %>
                <% end %>
                ×<%= @post.goods.count %>
              </div>
            <% end %>
            <p class="post-content"><%= @post.content %></p>
            <% if @post.user_id == current_user.id %>
              <div class="post-show-button">
                <%= link_to "編集する", edit_post_path(@post.id), class:"post-edit-link" %>
                <%= link_to '削除する', post_path(@post.id), method: :delete ,data: { confirm: '本当に削除していいですか？' },class:"post-destroy-link" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <h2>コメント一覧</h2>
      <% @comments.each do |c| %>
        <div>
          <%= c.user.name %>
          <%= c.content %>
          <hr>
        </div>
      <% end %>

      <%= form_with(model: [@post, @comment], method: :post) do |f| %>
        <%= f.text_area :content , placeholder:"コメント", size:"40×5"%>
        <%= f.hidden_field :post_id, value: @post.id %>
        <br>
        <%= f.submit 'コメントする',class:"comment-submit" %>
      <% end %>
    </div>
</section>




<%= javascript_include_tag 'posts.js' %>
